.btn-code{
    background-color: $button-color;
    display: block;
    text-align: center;
    padding: rem(13px) rem(0px) rem(10px) rem(0px);
    font-size: rem(15px);
    text-decoration: none;
    font-family: $font_bold;
    border-radius: rem(25px);
    color: $text-menu-color;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover{
        color: $button-color;
        background-color: $text-menu-color;
        border: 1px solid $button-color;
    }

    &.big{
        padding: rem(15px) rem(0px) rem(12px) rem(0px);
        font-size: rem(18px);
    }
}

.btn-code-v2{
    background-color: $background-color;
    display: block;
    text-align: center;
    padding: rem(13px) rem(0px) rem(10px) rem(0px);
    font-size: rem(15px);
    text-decoration: none;
    font-family: $font_bold;
    border-radius: rem(25px);
    color: $text-color;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
}


.btn-accept{
    background-color: $text-color;
    display: block;
    text-align: center;
    padding: rem(13px) rem(0px) rem(10px) rem(0px);
    font-size: rem(15px);
    text-decoration: none;
    font-family: $font_bold;
    border-radius: rem(25px);
    color: $text-menu-color;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;

    &:hover{
        color: $text-color;
        background-color: $text-menu-color;
        border: 1px solid $text-color;
    }
}