.top-space{
    margin-top: rem(
      90px
    ); // Space for nav top: rem(20px); and height: rem(50px) => 70px + extra space 20px;

    @include bp(laptop){
        margin-top: rem(
          200px
        ); // Space for nav top: rem(30px); and height: rem(70px) => 100px + extra space 10px;
    }
}