.modal-overlay.cookies{
    background-color: $modal-overlay-bg-color;
    backdrop-filter: blur(5px);
    position:fixed;
    left: 0;
    bottom: 0;
    height: 100svh;
    display: flex;
    align-items: center;
    z-index: 9999;

    .modal-content{
        background-color: $text-menu-color;
        padding: rem(30px) rem(20px);
        width: calc(100% - rem(60px));
        border-radius: rem(10px);
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: rem(15px);
        max-width: rem(1200px);

        @include bp(laptop){
            flex-flow: row;
            padding: rem(30px) rem(30px);
        }

        h3,
        h2,
        p,
        strong{
            color: $text-color;
        }
        
        p{
            text-align: center;
            text-wrap: balance;

            @include bp(laptop){
                text-align: left;
            }
        }

        .cookie-buttons{
            display: flex;
            flex-flow: column;
            gap: rem(10px);
            width: 100%;
            margin-top: rem(10px);

            @include bp(laptop){
                flex-flow: row;
                margin-top: 0;
            }

            button{
                font-size: rem(12px);
                width: 100%;
                cursor: pointer;
            }
        }
    }
}